:root {
  --bg-color: white;
  --text-color: black;
  --btn-color: white;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--text-color);
  background-color: var(--bg-color);
}

/* Dark mode overrides */
.dark-theme {
  --bg-color: black;
  --text-color: white;
  --btn-color: black;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: flex-start;
  min-width: 320px;
  min-height: 100vh;
  padding: 1rem;
  gap: 1rem; /* Adds space between elements */
}

/* Buttons will switch theme */
button {
  background-color: var(--btn-color);
  color: var(--text-color);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#cube {
  position: relative; 
  top: 0; 
  font-size: 30px;
}